/* -- declaración de variables globales-- */
:root {
    --max-width: 800px;
    --footer-height: 3rem;
    --nav-color: #f9dbbdff;
    --logo-color: #450920;
    --text-color:#da627d;
    --color-2obtion:#9d8189;
    
}
